.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 1.5rem;
    padding: 0.5rem;
    justify-content: center;
    .card{
        width:17rem;
        flex-grow: 1;
        background-color: rgb(72, 72, 72);
        padding:0.5rem;
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        gap:0.4rem;
        border-radius: 0.4rem;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 0.4rem;
        }
        .h2{
            font-weight: 200;
        }
        p{
            font-size: 0.9rem;
        }
        .urls{
            display: flex;
            justify-content: space-between;
            padding: 0 1rem;
            a{
                text-decoration: none;
                color: white;
            }
        }
        .tags{
            display: flex;
            flex-wrap: wrap;
            gap:0.5rem;
            p{
                padding:0.65rem;
                background-color: rgba(0, 0, 0, 0.634);
                backdrop-filter: blur(50px);
                border-radius: 0.65rem;
            }
        }
    }
}
