.window{
    height:400px;
    width: 500px;
    background-color: black;
    position: absolute;
    nav{
        display: flex;
        gap:0.65rem;
        align-items: center;
        .options{
            display: flex;
            gap:0.2rem;
            padding: 0.2rem;
            .dot{
                padding: 0.45rem;
                border-radius: 50%;
                
            }
            .red{
                background-color: #eb3535;
            }
            .yellow{
                background-color: rgb(247, 247, 81);
            }
            .green{
                background-color: rgb(27, 228, 0);
            }
        }
        .title{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgb(107, 107, 107);
            font-weight: 500;
        }
    }
    section{
        height: 100%;
        color: white;
    }
}