.navbar{
    background-color: rgba(44, 44, 44, 0.948);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .left,.right{
        color: white;
        display:flex;
        width: fit-content;
        gap:1rem;
        align-items: center;
        h5{
            white-space: nowrap;
        }
    }
}